body { 
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
    background-color: #333;
    color: white;
}

header {
    position: absolute; 
    width: 100%;
    padding-bottom: 100px;
}

.flipCard {
    position: relative;
    width: 500px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    display: inline-block;
    margin: 310px;
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    backface-visibility: hidden;
}

.flipCardFront {
    transform: rotateX(0deg);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.flipCardBack {
    transform: rotateX(180deg);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.flipped .flipCardFront {
    transform: rotateX(-180deg);
}

.flipped .flipCardBack {
    transform: rotateX(0deg);
}

.carousel {
    padding-top: 100px;
    text-align: center;
}

.carousel .flipCard {
    display: none;
}

.prev-button {
    cursor: pointer;
    position: absolute;
    bottom: 26%;
    right: 50.3%;
    background-color: #d83108;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.next-button {
    cursor: pointer;
    position: absolute;
    bottom: 26%;
    left: 50.3%;
    background-color: #d83108;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #d83108; 
}

.prev-button:hover {
    background-color: #d83108; 
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    width: 100%;
}

.listone {
    float: left;
}

.listone a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.listone a:hover {
    background-color: #1a1919;
}

.first a {
    background-color: #d32727;
}

.first a:hover {
    background-color: #962424;
}

.header {
    height: 300px;
    background: url(/home/project2/images/germanflag.jpg) repeat-x 0 0;
}

li.right {
    float: right;
}