body {
    background-color: #1a1a1a;
    font-family: Verdana, Geneva, Arial;
    color: #ffffff;
}

.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}

.underline {
    text-decoration-line: underline;
}

a:link {
    color: rgb(8, 133, 35);
}

a:visited {
    color: rgb(207, 138, 10)
}

a:hover {
    color: rgb(172, 112, 3);
}

a:active {
    color: rgb(222, 95, 226)
}

a {
    cursor: default;
    color: black;
    text-decoration:none;
}

color.a:active {
    color: #1a1a1a;;

}
.columns {
    column-count: 3;
    column-gap: 10px;
    column-width: auto;
    column-span: all;
    
}
.header {
    column-span: all;
}

.group {
    padding: 0px;
    break-inside: avoid;
}

.centergroup {
    height: 300px;
    background-color: #ccabab;
    border: 10px ridge rgb(255, 255, 255);
    

}
.centergroup a {
    text-align: center;
    display: inline-block;
    width: 100%;
    line-height: 300px;
}

p.box {
    width: 100%;
    padding: 15px;
    margin: 15px;
    
}

.center {
    text-align: center;
}

.shadow {
    box-shadow: 0px 10px 30px 5px rgba(150, 150, 150, 0.50);
    transition: box-shadow .5s;
    
}
.shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 5px rgba(238, 61, 61, 0.5);
}

.bottomBorderRed { 
    width: auto;
    border-bottom: 5px solid rgb(230, 68, 68);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.bottomBorderOrange { 
    width: auto;
    border-bottom: 5px solid rgb(209, 123, 11);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.autobox { 
    width: auto;
    height: auto;
    padding: 15px;
    border: 10px ridge rgb(255, 255, 255);
    background-color: #7c1a67;
}
.autobox + .autobox { /* fixing the margins on the boxes*/
    margin-top: 15px;
}

.container-projects{ /* flexbox worked better than floats here for me I could've used floats to do this same thing but it would look worse if the window is sized wrong*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
