* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #bfc2bd;
    font-family: "Roboto", Verdana, Geneva, Arial;
}


.container {
    width: 950px;
    padding: 0;
    margin: 0 auto;
}

[class*="col-"] {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #18805C;
    width: 100%;
    overflow: hidden;
    align-items: center; 
    padding: 15px; 
}

.navStyle {
    display: flex;
    list-style-type: none; 
}

.navStyle a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    margin: 0 5px; 
}

.navStyle a:hover {
    background-color: #146e4f;
    padding: 20px; 
}

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.center {
    text-align: center;
}

.large {
    font-size: 300%
}

.padding { 
    padding: 10px;
}
.paddingTop {
    padding-top: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.smallImg {
    width: 400px;
}

.flex-item {
    flex: 1;
    
    box-sizing: border-box;
    border: 6px solid#000000;
    margin-top: 10px;
    
}

.flex-item2 {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    border: 6px solid#000000;
    margin-top: 10px;
}

.columnColor1 {
    background-color: #46854e ;
}

.footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.noLink {
    text-decoration: none; 
    color: inherit; 
}

.overline {
    text-decoration: overline #18805C;
}

.textPadding {
    padding: 10px;
    margin: 6px;
}

li {
    padding: 5px;
    list-style: none;
}

p {
    padding: 10px;
    margin: 5px;
    line-height: 20px;
}

h4 {
    padding: 10px;
    margin: 5px;  
}

@media only screen and (max-width: 480px) {
    .container { width: 100% }

    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .flex-container {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .navStyle a:hover {
        background-color: #146e4f;
        padding: 7px;
    }
}
@media only screen and (max-width: 770px) {
    .container { width: 100% }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .flex-container {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    .navStyle a:hover {
        background-color: #146e4f;
        padding: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .container { width: 100% }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 950px) {
    .container { width: 100% }
}