html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
}
body {
    background-color: rgb(170, 168, 171);
    
}

.container {
    width: 1024px;
    padding: 0;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    
}

.center {
    text-align: center;
}

.large {
    font-size: 300%
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(85, 84, 85);
    width: 100%;
    overflow: hidden;
    align-items: center; 
    padding: 15px; 
}

.navStyle {
    display: flex;
    list-style-type: none; 
}

.navStyle a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    margin: 0 5px; 
}

.navStyle a:hover {
    background-color: #313030;
    padding: 20px; 
}

.columnLayout { 
    max-width: 70%;
    color: white;
    background-color:  #313030;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between; 
    gap: 30px;
}

.firstColumn,
.secondColumn,
.thirdColumn {
    flex: 1;
}

footer {
    margin-top: auto; 
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media only screen and (max-width: 768px) {
    .container { width: 100%}
    .columnLayout {
        flex-direction: column;
    }
    /* I added it so the nav bar is made verticle for smaller screens to make it look nicer. */
    .navStyle {
        flex-direction: column;
        align-items: center;
    }

    .navStyle a {
        display: block; 
        text-align: center; 
        text-decoration: none;
        color: white;
        line-height: 2;
        transition: background-color 0.3s ease;
    }

    .navStyle a:hover {
        background-color: #313030;
        padding: 10px;
        
    } 
}