
body {
    margin:0;
    background-color: #333;
    color:white
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1f1f;
    width: 100%;
}

.listone {
    float: left;
}

.listone a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.listone a:hover {
    background-color: #1a1919;
}

.first a {
    background-color: #d32727;
}


.first a:hover {
    background-color: #962424;
}



li.right{
    float:right
}
.header {
    height:300px;
    background:url(images/germanflag.jpg) repeat-x 0 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 50px;
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
.grid-item {
    background-color: rgba(196, 13, 13, 0.8);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
}

.gridHeader {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 70px;
}

.smallerText {
    font-size: 70%;
}
.largerText {
    font-size: 120%;
}

.right {
    float: right;
}

.sound {
    width: 100%;
    margin-top: 10px;
} 

.soundIcon {
    padding-top: 30px;
    width: 50px;
}

.pointer {
    cursor: pointer
}
