body {
    background-color: #b4fae1;
    font-family: Verdana, Geneva, Arial; 
}

section, p {
    display: block;
    text-align: left;
    
}

section p {
    font-size: large;
}

h1.large {
    font-size: 300%
}

p.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}

.imgright{
    float: right;
}

.upper {
    text-transform: uppercase;
}

ul.square {
    list-style-type: square;
    list-style-position: inside;
    font-family: Arial
    
}

ol.roman {
    list-style-type: upper-roman;
    list-style-position: inside;
    font-family: Arial
}

a:link {
    color: red;
}

a:visited {
    color: green
}

a:hover {
    color: purple;
}

a:active {
    color: orchid
}

p:first-letter {
    text-transform: capitalize;
}

nav {
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    background-color: #b4b4b4;
} 
nav a {
    color: #ff6767;
    text-decoration: none;
} 
nav a:hover,
nav a:focus {
    text-decoration: underline;
}
.navbar li {
    float: left;
    list-style-type: none;
}

.navbar a{
    display: inline-block;
    padding: 10px;
}


@font-face {
    font-family: 'aganregular';
    src: url(fonts/agane_55_roman-webfont.woff2) format('woff2'),
        url(fonts/agane_55_roman-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aganbold';
    src: url(fonts/agane_65_bold-webfont.woff2) format('woff2'),
        url(fonts/agane_65_bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

.left {
    text-align: left;
}
.right {
    text-align: right;
}

.columns {
    column-count: 3;
    column-gap: 40px;
    column-width: 100px;
    column-rule: dashed 4px #00c964;
}

.group {
    padding: 5px;
    break-inside: avoid;
}

.columnheader {
    column-span: all;
}

img.column1 {
    width: 0%;

}

img.column3 {
    width: 20%;
    float: right;
    
}

img.box { 
    background-color: rgb(70, 253, 110);
    width: 200px;
    border: 15px ridge rgb(68, 241, 135);
    padding: 20px;
    margin: 10px;
}


img.right {
    float: right;
}

img.left {
    float: left;
}

img.top {
    float: inline-start;
}

video.left {
    float: left;
}
video.right {
    float: right;
}

h2.boxh2 {
    width: 900px;
    border-top: 5px solid rgb(0, 90, 35);
    padding: 10px;
    
}

h3.boxh3 { 
    width: 700px;
    border-top: 5px solid rgb(5, 170, 68);
    padding: 15px;
    margin: 10px;
}

h4.boxh4 { 
    width: 200px;
    border-top: 5px solid rgb(2, 128, 50);
    padding: 10px;
    margin: 15px;
}

.container {
    width: 950px;
    padding: 20px;
    margin: 0 auto;
}