
section, p {
    display: block;
    text-align: left;
    
}

section p {
    font-size: large;
}

h1.large {
    font-size: 300%
}

p.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}

.imgright{
    float: right;
}

.upper {
    text-transform: uppercase;
}

ul.square {
    list-style-type: square;
    list-style-position: inside;
    font-family: Arial
    
}

ol.roman {
    list-style-type: upper-roman;
    list-style-position: inside;
    font-family: Arial
}

a:link {
    color: red;
}

a:visited {
    color: green
}

a:hover {
    color: purple;
}

a:active {
    color: orchid
}

p:first-letter {
    text-transform: capitalize;
}

nav {
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    background-color: #b4b4b4;
} 
nav a {
    color: #ff6767;
    text-decoration: none;
} 
nav a:hover,
nav a:focus {
    text-decoration: underline;
}
.navbar li {
    float: left;
    list-style-type: none;
}

.navbar a{
    display: inline-block;
    padding: 10px;
}