body {
    background-color: #1a1a1a;
    font-family: Verdana, Geneva, Arial;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 950px;
    padding: 0;
    margin: 0 auto;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .container { width: 100% }

}

@media only screen and (max-width: 768px) {
    .container { width: 100% }
}

@media only screen and (max-width: 950px) {
    .container { width: 100% }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    width: 100%;
    overflow: hidden;
    align-items: center; 
    padding: 15px; 
}

.flexOne {
    flex: 1;
}

.flexTwo {
    flex: 2;
}

.navStyle {
    display: flex;
    list-style-type: none; 
}

.navStyle a {
    color: white;
    text-decoration: none;
    padding: 20px; 
}

.navStyle a:hover {
    background-color: #3a3939;
    padding: 20px; 
}

ul { 
    list-style-type: none;
}



a:link{
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff; 
    text-decoration: none;
}

a:active {
    color: #ffffff;
    text-decoration: none;
}

.navBar{
    border-bottom:5px solid rgb(150, 0, 0);
    padding-bottom:10px
}